<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr3.Runtime" version="3.5.1" targetFramework="net472" />
  <package id="docfx.console" version="2.48.1" targetFramework="net472" developmentDependency="true" />
  <package id="FluentNHibernate" version="2.1.2" targetFramework="net472" />
  <package id="Iesi.Collections" version="4.0.4" targetFramework="net472" />
  <package id="ModernWpfUI" version="0.7.4" targetFramework="net472" />
  <package id="NHibernate" version="5.2.7" targetFramework="net472" />
  <package id="NHibernate.PropertyChanged" version="4.0.0.4000" targetFramework="net472" />
  <package id="Remotion.Linq" version="2.2.0" targetFramework="net472" />
  <package id="Remotion.Linq.EagerFetching" version="2.2.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Core" version="1.0.112.0" targetFramework="net472" />
  <package id="System.Runtime.WindowsRuntime" version="4.7.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>